/* a:visited { 
    color: crimson;
    background-color: gold;
    text-decoration: none;
}


a:link {
    color: green;
    background-color: darkorange;
    text-decoration: none;
}



a:hover {
    color: white;
    background-color: black;
} */